<ion-header>

  <ion-navbar class="header-css">
    <ion-title><img src="assets/images/logo.png"></ion-title>
	<div class="top_head"><span class="location-text">Monroe</span><img src="assets/images/location_icon.png"></div>
  </ion-navbar>
</ion-header>

<ion-content padding class="full-bg">
  <ion-grid>
	<ion-row>
		<ion-col width-50 class="mdl_c"><div><span class="mdn">Download</span></div><div><img class="mdni" src="assets/images/est_03.png"></div></ion-col>
		<ion-col width-50 class="udl_c"><div><span class="mdn">Upload</span></div><div><img class="mdni" src="assets/images/fore_02.png"></div></ion-col>
	</ion-row>
	    <ion-row class="est_fore_space">
			<ion-col text-center class="bt_btm"><button ion-button (click)="estimatepage()" class="begin-test" ><img  class="estimate_button" src="assets/images/esgra_06.png">Estimate</button></ion-col>
			<ion-col text-center class="bt_btm"><button ion-button  (click)="homepage1()" class="begin-test" ><img  class="begin_but"  src="assets/images/begin-test.png">Begin test</button></ion-col>
	  </ion-row>
	    <ion-row class="border_space">
                <div class="download_width">
					    <div class="downloadupto">Download upto</div>
				               <div class="down_circle">
								   <div class="speed-num">80</div>
								   <div class="speed-alpa">Mbps</div>
						     </div>
	               </div>
                  <div  class="best_text">Best for homes with many Internet users who frequently upload large files.</div>
                    <div class="download_width">
					          <div class="uploadupto">Upload upto</div>
				                    <div class="up_circle">
								          <div class="speed-num">40</div>
								          <div class="speed-alpa">Mbps</div>
						            </div>
					</div>   
		</ion-row>
			<ion-row class="month_act">
		 <div class="activate">
		 <span class="dollar">$</span><span class="large_size">49</span><span class="large_size1">95</span>
		 </div>
		 <div class="activate_center">
		 a month for 12 when bunded with home phone*.
		 </div>
		 <div class="activate_button">
		 <button ion-button  small class="act_but" >ACTIVATE</button>
		 </div></ion-row>
		 	
			
  </ion-grid>
</ion-content>
