page-realspeed {


.header-space{
		background-color:#fbfdfc;
		padding:10px;
}


.location-text{
		font-weight:bold;
		font-size:10px;
		position: relative;
        top: -6px;
}

.header-css{
			background: linear-gradient(to bottom, #f6faf8 , #f5f9f7);
			border-bottom: solid #027139 2px;
}
.top_head{
    position: fixed;
    top: 22%;
    left: 83%;
}

.full-bg{
     background: linear-gradient(to bottom, #f6faf8 , #f5f9f7);

}
.begin-test{
color:#ffffff;
background-color:#339900;
text-transform: CAPITALIZE;
}

.speed-num{
    font-family:arial-italic;
	font-size:16px;
text-align:center;

}

.speed-alpa{
 font-family:arial;
	font-style:italic;
	font-size:9px;
text-align:center;
}

.downloadupto{
    font-family:arial-italic;
    color: #1f8652;
font-size:7px;
padding:4px;
}

.uploadupto{
    font-family:arial-italic;
	color:#a9a9bb;
font-size:7px;
padding:4px;
}

.down_circle{
           border: solid #72c39b 2px;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    margin: auto;
    padding-top: 1px;
    background: #72c39b;
    color: #ffffff;
}

.up_circle{
           border: solid #babaca 2px;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    margin: auto;
    padding-top: 1px;
    background: #babaca;
    color: #ffffff;
}

.best_text{
    color: #8c8c8c;
		font-size:12px;
		width:57%;
		padding-top: 7px;
    font-family:arial-italic;
	}

.download_width{
	width:20%;
	text-align:center;
}

.border_space{
   padding-bottom: 5px;
    border-top: solid #d9d9d9 2px;
    border-left: solid #d9d9d9 2px;
    border-right: solid #d9d9d9 2px;
    border-bottom: solid #1f8652 2px;
}

.activate{
		width:20%;
		text-align: center;
		    padding-top: 5px;
    padding-left: 1px;
}

.activate_center{
		color:#bdbdbd;
		font-size:8px;
		width:60%;
		padding-top: 7px;
}

.activate_button{
		width:20%;
}

.act_but{
    font-family:arial;
	color:#fffffff;
	background-color:#1f8652;
	font-size: 8px;
    padding: 9px 4px 7px 4px;
	}

	.month_act{
		    background: #f3f3f3;
    border-left: solid #d7d7d7 2px;
    border-right: solid #d7d7d7 2px;
    border-bottom: solid #d7d7d7 2px;
	}
	
	.dollar{
				font-size:10px;
				color:#499d73;
				position:relative;
				top:-10px;
	}
	
.large_size{
				font-family:arial;
				font-size: 18px;
				color: #499d73;
				padding-left: 2px;
				padding-right: 2px;
}

.large_size1{
			font-family:arial;
			font-size:10px;
			color: #2c864b;
			position:relative;
			top:-10px;
}

.music_down{
			    background: #eeeeee;
				margin-top: 10px;
}

.down_music{
				background: #eeeeee;
				margin-top: 13px;
				text-align:center;
}

.down_music1{
				background: #eeeeee;				
								text-align:center;
}
.b_dr{
				border: solid #ffffff 1px;
				width: 90%;
				margin-left: 15px;
}
.dtext{
color: #8c8c8c;
    font-size: 12px;
	position: relative;
    top: 6px;
    font-family:arial-italic;
	}
	
.dtext1{
color: #8c8c8c;
    font-size: 12px;
	position: relative;
    top: 6px;
    font-family:arial-italic;
	}

.music{
    color: #3b8600;
    font-size: 33px;
	float:left;
	}
	
	.music1{
		float:left;
	}
	
	.arr_beg{
	padding-left: 8px;
    padding-right: 0;
    margin-right: -17px
	}
	
	.mdn{
	color:#747484;
	    font-family:arial;

	}
	
		.udn{
	color:#747484;
	}
	
	.mdl_c{
	      text-align:center;
	}
	
	.udl_c{
	      text-align:center;
	}
	
	.mdni{
	    margin-top: 15px;
	}
	.udni{
	    margin-top: 15px;
	}
	
	.bt_btm{
	margin-bottom:12px;
	}
	
	.estimate_button{
	}
	
		.forecast_button{

	}
	.est_fore_space{
	margin-bottom:22px;
	margin-top:18px;
	}
	
	.begin_but{
			padding-right:3px;
	}
}